
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 10px;
    
}

body {
   font-size: 100%;
   background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(139, 139, 139));
   text-decoration-color: blanchedalmond;
   text-decoration-line: initial;

}

.titulo-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    color:rgb(104, 84, 66)
    

}

.subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    color:rgb(104, 84, 66)

}
.main {
    border-top: 0.4px solid currentColor;
} 

.menu {
    display: flex;
    flex-direction: row;
    background-color: none;
    padding: 16px;
    height: 30px;
}

.titulo{
    display: flex;
    flex-direction: left;
    align-items: flex-end;
    color: rgb(104, 84, 66) 10px;
}

.sapatos{
    color: rgb(104, 84, 66) 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;

}

.artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:rgba(0, 0, 0, 0.603);

}


footer{
    border-top: 0.3px solid currentColor;
}

.box1 {
    width: 200px;
    height: 200px;
}

.box2 {
    width: 200px;
    height: 200px;
}

.box3 {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.cintos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bolsas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

