
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 10px;
    
}

body {
   font-size: 100%;
   background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(139, 139, 139));
   text-decoration-color: blanchedalmond;
   text-decoration-line: initial;

}

#menu {
    color: brown;
    font-family:'Source Serif Pro', serif; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header {
    margin-top: 0.4px solid currentColor;
}

.titulo-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    color:rgb(104, 84, 66)
    

}

.subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    color:rgb(104, 84, 66)

}
.main {
    border-top: 0.4px solid currentColor;
} 

.titulo{
    display: flex;
    flex-direction: left;
    align-items: flex-end;
    color: rgb(104, 84, 66) 10px;
}

.artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:rgba(0, 0, 0, 0.603);

}


footer{
    border-top: 0.3px solid currentColor;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap:20px;

}

.box1 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.box2 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.box3 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.sapatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0.384);

}
.cintos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0.384);
}
.bolsas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
}

.entrega {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.empresario {
    width: 300px;
    height: 300px;
    border-radius: 200px;
}
