
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 10px;
    
}

body {
   font-size: 100%;
   background-image: linear-gradient(to right, rgb(53, 42, 26) , rgb(94, 51, 26));
   text-decoration-color: blanchedalmond;
   text-decoration-line: initial;

}
.menu {
    
    border-bottom: 1px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    font-size: 15px;
    margin: 10px;
    outline: rgb(104, 84, 66) 10px;
    margin-bottom: auto;
    color: bisque;
}

.titulo{
    display: flex;
    flex-direction: left;
    align-items: flex-end;
    color: beige;
}

.sapatos{
    color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;

}


footer{
    background-image: linear-gradient(rgb(94, 51, 26), rgb(97, 97, 97));;
}




